In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.mixture import GaussianMixture
from sklearn.cluster import MeanShift
from sklearn.decomposition import PCA
from sklearn.cluster import Birch
import joblib

In [3]:
file_path = '../data/base_prueba_tecnica.xlsx'
df = pd.read_excel(file_path)
df.head()

,ID,Edad,Genero,Ingresos Anuales,Gasto Mensual,Puntuación de Crédito,Región,Comportamiento en linea,Compras en el ultimo año
0,1,21,Masculino,222011,2297,335,Sur,8,81
1,2,26,Masculino,239229,3420,329,Oeste,10,27
2,3,38,Masculino,716278,36965,711,Oeste,9,82
3,4,64,Femenino,697325,9846,855,Sur,2,6
4,5,52,Femenino,1032569,6607,989,Sur,3,2

In [4]:
numeric_columns = ['Edad', 'Ingresos Anuales', 'Gasto Mensual', 'Puntuación de Crédito', 'Comportamiento en linea', 'Compras en el ultimo año']


scaler = MinMaxScaler()
df_scaled = df.copy()
df_scaled[numeric_columns] = scaler.fit_transform(df[numeric_columns])


pca = PCA(n_components=3)
X_reduced = pca.fit_transform(df_scaled[numeric_columns])

x = X_reduced[:, 0]
y = X_reduced[:, 1]
z = X_reduced[:, 2]

In [5]:
# Entrenar el modelo BIRCH
birch_model = Birch(n_clusters=3) 
birch_model.fit(X_reduced)

# Guardar el modelo BIRCH
joblib.dump(scaler, '../back/scaler.pkl')
joblib.dump(pca, '../back/pca.pkl')
joblib.dump(birch_model, '../back/birch_model.pkl')

['../back/birch_model.pkl']

In [7]:
models = [
    ('Gaussian Mixture', GaussianMixture(n_components=3)), 
    ('Mean Shift', MeanShift(bandwidth=None)),
]


for name, model in models:
    model.fit(X_reduced)
    # Guardar el modelo 
    joblib.dump(model, f'../back/{name.replace(" ", "_").lower()}_model.pkl')